@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SonOfCod.ViewModels;

@model RegisterViewModel

<h2>Register a new Admin</h2>

@using (Html.BeginForm("Register", "Admin", FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.TextBoxFor(m => m.ConfirmPassword)

    <input type="submit" value="Register" />
}

<p>Note: This page is purposely not protected from anonymous users to allow the initial creation of an administrator.</p>